.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(143, 102, 219);
    -fx-background: rgb(220, 200, 196);
}

.highlightedRow {
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}